Repository IBMStreams/streamsx.topology, pull requests merged in 2020-08, with the labels that each got.

#2539 TestTopology: Check OS version for SPLOperatorsTest.java, #2537
  test/java/src/com/ibm/streamsx/topology/test/TestTopology.java
  test/java/src/com/ibm/streamsx/topology/test/spl/SPLOperatorsTest.java
Labels: test

#2541 Publish streamsx.topology releases in Maven repository
  .gitignore
  DEVELOPMENT.md
  build.xml
  release-pom.xml
Labels: publish_release

#2542 pom.xml updated, #2522
  DEVELOPMENT.md
  build.xml
  release-pom.xml
Labels: publish_release

#2552 correct BuildService.of_service
  com.ibm.streamsx.topology/opt/python/packages/streamsx/build.py
  java/src/com/ibm/streamsx/rest/build/BuildService.java
  java/src/com/ibm/streamsx/rest/build/StreamsBuildService.java
Labels: 1.16, java_rest_api, python_rest_api

#2553 notes added for punctuation mode
  com.ibm.streamsx.topology/com.ibm.streamsx.topology.python/namespace-info.spl
  com.ibm.streamsx.topology/opt/python/packages/streamsx/spl/spl.py
  com.ibm.streamsx.topology/opt/python/packages/streamsx/topology/tester.py
  com.ibm.streamsx.topology/opt/python/packages/streamsx/topology/topology.py
Labels: 1.16, feature_punct

#2554 ensure result files in data dir have different names
  test/python/topology/test2_punctor.py
Labels: 1.16, feature_punct, test
